{% extends 'base.html' %}
{% block content %}
    {% if questions %}
        <h1 class="mt-5">Psychological questions</h1>
        <form class="mt-5" method="post" action="{% url 'results' %}">
            {% csrf_token %}
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" name="username" required>
                </div>
                {# Iterate through questions: #}
                {% for question in questions %}
                    {# Set separate varibale for question_id which will be used to track down the question: #}
                    {% with forloop.counter0 as question_id %}
                        {# Print description as paragraph #}
                        <p class="lead mt-3">{{ question.description }}</p>
                        {# Define new table for quiz questions #}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Question</th>
                                {# Add all available options to table header #}
                                {% for option_name in question.option_names %}
                                    <th class="text-center">{{ option_name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {# Iterate through quiz questions #}
                            {% for quiz_question in question.quiz_questions %}
                                {# Define quiz question id which will be to track down the question: #}
                                {% with forloop.counter0 as quiz_question_id %}
                                    <tr>
                                        <th scope="row">{{ quiz_question }}</th>
                                        {# Iterate through option names again to list the same number of radio buttons as there are question options #}
                                        {% for option_name in question.option_names %}
                                            <td class="text-center">
                                                {# Each radio button is assigned a unique name that is constructed from question id and quiz question id, value is set by forllop value starting from 1 #}
                                                <input type="radio" name="q_{{ question_id }}_{{ quiz_question_id }}" value="{{ forloop.counter }}" required>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endwith %}
                {% endfor %}

                <div class="form-group-row">
                    <input class="btn btn-lg btn-info" type="submit">
                    <input class="btn btn-lg btn-danger" type="reset">
                </div>
        </form>
    {% else %}
        <h1 class="mt-5">There are no questions, go think of some</h1>
    {% endif %}
{% endblock %}